{% extends 'layout.html.twig' %}

{% block title %}Qui sommes-nous ? Chez Rue du Boulot Coworking à Paris{% endblock %}

{% block content %}

     <div id="front1" class="row">
            <h1 class="text-center display-3 fw-bold mt-5">Rue du Boulot <br>Espace et Bureau de Travail en Coworking<br> à Paris</h1>
            <p class="text-center display-6 fw-bold">On vous accueille à votre nouvelle adresse 
              <br>de <span class="display-1">coworking</span> à <span class="display-1">Paris</span> tout au long de l'année.
              <br> Nous créons des <span class="display-1">bureaux</span> et des <span class="display-1">espaces</span> de <span class="display-1">travail</span> 
              <br>en <span class="display-1">coworking</span> modulables à votre convenance. 
              <br> Que ce soit du mobilier et des services pour que 
              <br>chacun puisse passer une agréable journée de <span class="display-1">travail</span>. 
              <br> À chacun de nos <span class="display-1">espaces</span>, tout est pensé et réalisé 
              <br>pour que vous vous sentiez comme <span class="display-1">chez vous</span>.</p>
          </div>
          <div id="front2" class="container-fluid">
            <div class="row">
              <ul class="d-flex justify-content-center">
                <div id="frLeft" class="col-lg-3">
                  <li>
                    <article>
                      <div>
                        <h6 class="display-6">Notre savoir-<span class="display-1 fw-bold d-flex justify-content-center">FAIRE</span></h6>
                        <p class="mb-5 d-flex justify-content-center">Des bureaux et des espaces de travail en coworking
                          <br>dédiés à la rencontre, à l'échange et au partage entre les différentes entreprises 
                          <br>qui souhaitent évoluer, travailler, collaborer et grandir ensemble.</p>
                      </div>
                      <img class="justify-content-center" src="images/side1.jpg" alt="coworking" width="85%" height="85%"/>
                    </article>
                  </li>
                </div>
                <div id="frMiddle" class="col-lg-3">
                  <li>
                    <article>
                      <div>
                        <h6 class="display-6">Notre savoir-<span class="display-1 fw-bold d-flex justify-content-center">ÊTRE</span></h6>
                        <p class="mb-5 d-flex justify-content-center">Des services et un accompagnement total pour votre travail en coworking 
                          <br>dans les meilleures conditions possibles afin de respecter aux mieux vos attentes. 
                          <br>On fera toujours de notre mieux pour vous satisfaire.</p>
                      </div>
                      <img class="justify-content-center" src="images/side3.jpg" alt="bureau" width="85%" height="85%"/>
                    </article>
                  </li>
                </div>
                <div id="frRight" class="col-lg-3">
                  <li>
                    <article>
                      <div>
                        <h6 class="display-6">Notre savoir-<span class="display-1 fw-bold d-flex justify-content-center">PLAIRE</span></h6>
                        <p class="mb-5 d-flex justify-content-center">Des espaces détentes dédiés aux bien-être de chacun de nos co-workers, 
                          feront de cette adresse une véritable oasis en plein centre-ville. 
                          <br>Une bonne pause est bien souvent plus que méritée et mérite la plus grande attention.</p>
                      </div>
                      <img class="justify-content-center" src="images/side2.jpg" alt="espace" width="85%" height="85%"/>
                    </article>
                  </li>
                </div>
              </ul>
          </div>
        </div>
          <div id="front3" class="row">
            <div class="col-lg-12">
            <h2 class="display-6 text-center fw-bold">Découvrez comment <span class="display-1">Rue du Boulot</span> 
              <br>à pû ouvrir ses portes dans <span class="display-1">Paris</span> 
              <br>pour vous proposez les meilleurs <span class="display-1">espaces</span> 
              <br>et <span class="display-1">bureaux</span> de <span class="display-1">travail</span> en <span class="display-1">coworking</span>...</h2>
            </div>
            <div class="d-flex justify-content-center">
            <iframe width="700" height="350" src="https://www.youtube.com/embed/IQ4hVwELxks" title="YouTube video player" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          </div>

{% endblock %}