{% extends 'layout.html.twig' %}

{% block title %}Rue du Boulot Coworking à Paris{% endblock %}

{% block content %}
<div class="bg-image" style="background-image: url(images/backgroundtop.jpg);";>
            <div id="top" class="container-fluid"> 
                <div class="wrapper row1">
                <header> 
                 <div id="logo" class="d-flex justify-content-center">
                    <h1 class="text-center display-3 mt-5">Rue du Boulot <br>Espace et Bureau de Travail en Coworking<br> à Paris</h1>
                  </div>
                 </header>
              </div>
                <div id="myCarousel"
                class="carousel slide text-center"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div id="carousel1" class="carousel-item active mb-5">
                      <article>
                        <p class="display-6 fw-bold">RUE DU BOULOT</p>
                        <h3 class="heading display-6 fw-bold">Rue du Boulot ouvre ses portes à Paris</h3>
                        <p class="fw-bold">Les tarifs sont assez variables chez Rue du Boulot 
                          <br>et dépendent surtout de vos besoins et de vos attentes. 
                          <br>Entre espace de travail individuel ou de groupe, 
                          <br>les loyers vont s'adapter tout au long de votre contrat. 
                          <br>Ce système reste très souple et il existe une multitude de forfaits et de services adaptés à chacun 
                          <br>(avec ou sans engagement, location simple d’une salle de réunion, temps partiel ou complet…). 
                          <br>Il faut compter en général, entre 30 et 500 €/mois pour un abonnement mensuel.</p>
                        </article>
                  </div>
                  <div id="carousel2" class="carousel-item mb-5">
                      <article>
                        <p class="display-6 fw-bold">COWORKING</p>
                        <h3 class="heading display-6 fw-bold">Le corworking chez Rue du Boulot : c’est quoi ?</h3>
                        <p class="fw-bold">Le coworking est un nouveau mode d’organisation du travail 
                          <br>qui consiste à partager un espace en rassemblant 
                          <br>des professionnels indépendants de divers horizons. <br>INSCRIVEZ-VOUS dès maintenant !</p>
                       </article>
                  </div>
                    <div id="carousel3" class="carousel-item mb-5">
                      <article>
                        <p class="display-6 fw-bold">BUREAU</p>
                        <h3 class="heading display-6 fw-bold">Des espaces de bureau modulables</h3>
                        <p class="fw-bold">Le coworking, une solution flexible de location de locaux professionnels, et souvent moins chère : des forfaits adaptés à vos besoins, 
                        <br>pas de caution à verser, vous ne payez que pour vos jours de présence 
                          <br>(pas de charge locative fixe). 
                          <br>De plus, bon nombre de lieux sont situés en centre-ville, 
                          <br>ce qui est tout de même plus agréable qu’un bâtiment éloigné du monde urbain…</p>
                        </article>
                  </div>
                  <div id="carousel4" class="carousel-item mb-5">
                      <article>
                        <p class="display-6 fw-bold">TRAVAIL</p>
                        <h3 class="heading display-6 fw-bold">Un cadre de travail agréable</h3>
                        <p class="fw-bold">Rompre de la routine professionnelle et de l’isolement social, qui peuvent freiner 
                          <br>votre vie professionnelle : quand votre bureau 
                          <br>est votre salon ou cuisine, il n’est pas toujours simple de booster sa productivité… 
                          <br>Déconcentration, tentation, dispersion sont souvent le lot quotidien
                          <br> de travailleurs free-lance et indépendants. 
                          <br>Le coworking permet aussi de créer un équilibre entre vie professionnelle et personnelle.</p>
                        </article>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
               </div>
              </div>
            </div>

           <div id="container1" class="container-fluid">
                <div id="introblocks" class="row">
                  <ul class="d-flex">
                    <div class="col-lg-4">
                    <li>
                      <article>
                        <div>
                          <h6 class="heading mb-5">BUREAU DE TRAVAIL<br> COWORKING DE GROUPE</h6>
                          <p class="mb-5">Une ouverture sur de nouvelles possibilités, que parfois l’isolement empêche de voir ! Oui, le coworking apporte un regard différent sur la façon de faire évoluer un projet professionnel et permet  d’être plus créatif, inspiré et dans surtout l’échange avec une vraie communauté issue d’horizons variés.</p>
                        </div>
                        <img src="images/middle1.jpg" alt="bureau" width="80%" height="80%">
                      </article>
                    </li>
                  </div>
                  <div class="col-lg-4">
                    <li>
                      <article>
                        <div>
                          <h6 class="heading mb-5">ESPACE DE TRAVAIL<br> INDIVIDUEL</h6>
                          <p class="mb-5">Continuez à vous former, développez vos compétences : les créateurs d’espaces de coworking l’ont bien compris. La formation est un enjeu pour tous les professionnels non-salariés. Il est fréquent dans ces lieux de pouvoir profiter de conférences, ateliers, formations selon vos besoins et envies.</p>
                        </div>
                        <img src="images/middle2.jpg" alt="espace"  width="80%" height="80%">
                      </article>
                    </li>
                    </div>
                    <div class="col-lg-4">
                    <li>
                      <article>
                        <div>
                          <h6 class="heading mb-5">PLATEAU DE COWORKING<br> RUE DU BOULOT</h6>
                          <p class="mb-5">Grâce à autant de confort vos équipes augmenteront leur productivité. Profitez d’équipements adaptés : espaces de rangement, de réunion ou pour déjeuner, imprimantes, scanner, rétroprojecteur, logiciels, connexion Internet performante, et parfois même d’outils créés par d’autres coworkers.</p>
                        </div>
                        <img src="images/middle3.jpg" alt="coworking"  width="80%" height="80%">
                      </article>
                    </li>
                    </div>
                  </ul>
                </div>
              </div>
            <div class="container-fluid">
            <div id="container2" class="row" style="background-image:url('images/backgrounddown.jpg');">
              <section id="contrast"> 
               <div class="text-center col-lg-12">
                  <h3 class="heading display-6 fw-bold p-5">Pourquoi choisir Rue du Boulot pour votre espace et bureau de travail en coworking ?</h3>
                  <p class="text-center">Il ne convient pas à tout le monde. L’impératif ? 
                    <br>Avoir un tempérament libre, envie de mobilité et de flexibilité, 
                    <br>et aimer découvrir de nouveaux horizons. 
                    <br>Points communs des coworkers ? 
                    <br>Créativité et innovation.</p>
                </div>
                <div class="row d-flex justify-content-center">
                <ul class="d-flex justify-content-center">
                  <li class="col-lg-3">
                    <article><a href="{{ path('app_space') }}"><i class="fa-4x d-flex justify-content-center fas fa-laptop"></i></a>
                      <h3 class="fw-bold text-center">Espaces modulables</h3>
                      <p class="fw-bold text-center">Tout au long de votre bail de location, vous serez en mesure de le moduler à votre convenance à n'importe quel moment !</p>
                    </article>
                  </li>
                  <li class="col-lg-3">
                    <article><a href="{{ path('app_register') }}"><i class="fa-4x d-flex justify-content-center fas fa-calendar"></i></a>
                      <h3 class="fw-bold text-center">Sans minimum<br>  d'espace et de durée</h3>
                      <p class="fw-bold text-center">Profitez dès maintenant de nos équipements sans aucun engagement !</p>
                    </article>
                  </li>
                  <li class="col-lg-3">
                    <article><a href="{{ path('app_services') }}"><i class="fa-4x fab fa-angellist d-flex justify-content-center"></i></a>
                      <h3 class="fw-bold text-center">Coworking<br> Rue du Boulot dans un cadre de travail agréable</h3>
                      <p class="fw-bold text-center">On vous accompagne vers plus de détente et de bien-être chez Rue du Boulot, vous êtes chez VOUS !</p>
                    </article>
                  </li>
                </ul>
                </div>
               </section>
            </div>
            </div>
            
            <div id="container3" class="wrapper row3">
              <div class="hoc container clear"> 
                <div class="group  d-flex justify-content-center">
                  <section class="one_half first me-3">
                    <h6 class="heading btmspace-50">Ils ont confié leur espace de travail en coworking<br> à Rue du Boulot</h6>
                    <ul class="nospace">
                      <li class="btmspace-30">
                        <article>
                          <h4 class="nospace"><a href="https://www.la-spa.fr/">La SPA se met au coworking</a></h4>
                          <time class="font-xs" datetime="2021-12-06">Vendredi 6 décembre 2021</time>
                        </article>
                      </li>
                      <li class="btmspace-30">
                        <article>
                          <h4 class="nospace"><a href="https://www.wwf.fr/">WWF FRANCE adore son nouvel espace de travail<br> chez Rue du Boulot </a></h4>
                          <time class="font-xs" datetime="2021-11-15">Mardi 15 novembre 2021</time>
                        </article>
                      </li>
                      <li>
                        <article>
                          <h4 class="nospace"><a href="https://www.greenpeace.fr/">GREENPEACE FRANCE aime profiter des espaces de détentes au bureau</a></h4>
                          <time class="font-xs" datetime="2021-10-03">Lundi 3 octobre 2021</time>
                        </article>
                      </li>
                    </ul>
                  </section>
                  <section class="one_half">
                    <h6 class="heading btmspace-50">Newsletter</h6>
                    <p class="ms-5">Recevez toutes nos actus, parfois des idées géniales de nos coworkers !</p>
                    <p class="btmspace-30 ms-5">Rue du Boulot c'est aussi des inspirations, des lectures, des vidéos et bien d'autres nouveautés.</p>
                    <form id="newsletter" method="post" action="#">
                      <fieldset class="row">
                        <input class="btmspace-15" type="text" value="" placeholder="Nom">
                        <input class="btmspace-15" type="text" value="" placeholder="Email">
                        <button type="submit" value="submit">ENVOYER</button>
                      </fieldset>
                    </form>
                  </section>
                </div>
                </div>
            </div>

{% endblock %}
