{% extends 'layout.html.twig' %}

{% block title %}Nos espaces chez Rue du Boulot Coworking à Paris{% endblock %}

{% block content %}
 <div id="spaces" class="container-fluid">
            <div id="space1" class="d-flex">
              <h1 class="display-1 fw-bold">Rue du Boulot <br>Espace et Bureau de Travail en Coworking<br> à Paris</h1>
              <p class="display-6 p-2 m-2">Chez Rue du Boulot, 
                <br>installez vous à votre aise. Poste individuel ou pourquoi pas en openspace, 
                bureau pour groupe ou plus… 
                Profitez aussi d'espaces dédiés à la concentration, 
                à la réunion, au bien-être, à la détente ou à l'évènementiel. 
                <br>Le Pompom : un accompagnement total par nos services, 
                <br>pour régler tous les petits pépins et favoriser votre épanouissement.</p>
                <img class="mt-5 border border-light" src="images/spaces1.jpg" alt="rue-du-boulot" width="45%" height="45%"/>
            </div>
            <div id="space2" class="d-flex">
              <img class="border border-primary" src="images/spaceseco.jpg" alt="éco-responsables" width="45%" height="45%"/>
              <p class="display-6 p-2 m-2 text-end">Travailler au monde de demain, c'est aussi concevoir des espaces, promouvoir des pratiques et soutenir 
                une économie plus écologique et solidaire. 
                C'est pourquoi nous travaillons au quotidien pour optimiser nos charges fixes.
                La plupart du mobilier et de l'aménagement de nos espaces sont réalisés en éco-responsabilité.</p>
                <h1 class="display-1 fw-bold text-end">Nos engagements chez Rue du Boulot</h1>
            </div>
            <div id="spacesList" class="row mt-5">
              <ul class="d-flex justify-content-center">
                <div id="purple" class="col-lg-3">
                  <li class="text-center">
                    <img class="border border-light" src="images/spaces2.jpg" alt="bureau" width="70%" height="70%"/>
                    <h2 class="display-6 fw-bold">Bureau individuel</h2>
                    <p class="fw-bold">Spécialement élaboré pour être en mode "solo"</p>
                    <p class="display-6">à partir de<br> 30 €/mois</p>
                  </li>
                </div>
                <div id="white" class="col-lg-3">
                  <li class="text-center">
                    <img class="border border-primary" src="images/spaces3.jpg" alt="bureau" width="70%" height="70%"/>
                    <h2 class="display-6 fw-bold">Bureau double</h2>
                    <p class="fw-bold">Duo est fait pour vous</p>
                    <p class="display-6">à partir de<br> 60 €/mois</p>
                  </li>
                </div>
                <div id="purple" class="col-lg-3">
                  <li class="text-center">
                    <img class="border border-light" src="images/spaces4.jpg" alt="coworking" width="70%" height="70%"/>
                    <h2 class="display-6 fw-bold">Bureau de groupe</h2>
                    <p class="fw-bold">La squad, la team enfin bref petit ou grand le groupe peut s'adapter</p>
                    <p class="display-6">à partir de 240 €/mois</p>
                  </li>
                </div>
              </ul>
              <ul class="d-flex justify-content-center">
                <div id="white" class="col-lg-3">
                  <li class="text-center">
                    <img class="border border-primary" src="images/spaces5.jpg" alt="espace" width="70%" height="70%"/>
                    <h2 class="display-6 fw-bold">Open-Space</h2>
                    <p class="fw-bold">Idéalement pour 6 collaborateurs</p>
                    <p class="display-6">à partir de 300 €/mois</p>
                  </li>
                </div>
                <div id="purple" class="col-lg-3">
                  <li class="text-center">
                    <img class="border border-light" src="images/spaces6.jpg" alt="plateau" width="70%" height="70%"/>
                    <h2 class="display-6 fw-bold">Plateau</h2>
                    <p class="fw-bold">Là ça rigole plus, on passe au lourd</p>
                    <p class="display-6">à partir de 600 €/mois</p>
                  </li>
                </div>
                <div id="white" class="col-lg-3">
                  <li class="text-center">
                    <img class="border border-primary" src="images/spaces7.jpg" alt="étage" width="70%" height="70%"/>
                    <h2 class="display-6 fw-bold">Floor</h2>
                    <p class="fw-bold">100% adaptable à vos envies de grandeurs</p>
                    <p class="display-6">à partir de 1200 €/mois</p>
                  </li>
                </div>
              </ul>
              <ul class="d-flex justify-content-center">
                <div id="purple" class="col-lg-3">
                  <li class="text-center">
                    <img class="border border-light" src="images/spaces8.jpg" alt="réunion" width="70%" height="70%"/>
                    <h2 class="display-6 fw-bold">Salle de réunion</h2>
                    <p class="fw-bold">Pour un maximum de 30 convives</p>
                    <p class="display-6">à partir de 450 €/mois</p>
                  </li>
                </div>
                <div id="white" class="col-lg-3">
                  <li class="text-center">
                    <img class="border border-primary" src="images/spaces9.jpg" alt="coworkers" width="70%" height="70%"/>
                    <h2 class="display-6 fw-bold">Combo Réunion-Bureau</h2>
                    <p class="fw-bold">L'espace coworkers par excellence</p>
                    <p class="display-6">à partir de 900 €/mois</p>
                  </li>
                </div>
                <div id="purple" class="col-lg-3">
                  <li class="text-center">
                    <img class="border border-light" src="images/spaces10.jpg" alt="étage" width="70%" height="70%"/>
                    <h2 class="display-6 fw-bold">Bloc</h2>
                    <p class="fw-bold">On se refuse rien et tout est envisageable</p>
                    <p class="display-6">à partir de 2400 €/mois</p>
                  </li>
                </div>
              </ul>

            </div>

          </div>
{% endblock %}
