{% extends 'layout.html.twig' %}

{% block title %}Nos services chez Rue du Boulot Coworking à Paris{% endblock %}

{% block content %}

     <div id="services" class="container-fluid">
          <div id="bandeau1" class="d-flex ms-0 me-5 align-items-center">
            <h1 class="align-middle fw-bold mt-5 me-5">Rue du Boulot <br>Espace et Bureau de Travail <br>en Coworking à Paris</h1>
            <img class="rounded-circle mt-4 ms-3 me-2" src="images/backgroundtop.jpg" alt="rue-du-boulot" width="45%" height="45%"/>
          </div>
          <div id="bandeau2" class="d-flex ms-5 me-0 align-items-center">
            <img class="rounded-circle mt-4" src="images/pingpong.jpg" alt="pingpong" width="45%" height="45%"/>
            <h3 class="display-3 fw-bold mt-5 ms-5">L'unique est incomparable : Tennis de Table ! 
              <p class="fs-4 mt-3">Tournoi organisé ou juste une partie endiablée, à vous de choisir ?</p></h3>
          </div>
          <div id="bandeau3" class="d-flex ms-0 me-5 align-items-center">
            <h3 class="display-3 fw-bold mt-5 me-5">Tôt ou tard, on joue au billard ! 
              <p class="fs-4 mt-3">Qu'on soit ami ou ennemi, plaisir garanti ! Faîtes chauffer les boules, ça va casser dur !</p></h3>
            <img class="rounded-circle mt-4" src="images/billard.jpg" alt="billard" width="45%" height="45%"/>
          </div>
          <div id="bandeau4" class="d-flex ms-5 me-0 align-items-center">
            <img class="rounded-circle mt-5" src="images/babyfoot.jpg" alt="babyfoot" width="45%" height="45%"/>
            <h3 class="display-3 fw-bold mt-5 ms-5">Ils sont bien 11 par équipe mais pas encore champion du monde ! 
              <p class="fs-4 mt-3">On peut jouer à 2 ou à 4 ou même à bien plus si on va vite pour perdre !</p></h3>
          </div>
          <div id="bandeau5" class="d-flex ms-0 me-5 align-items-center">            
            <h3 class="display-3 fw-bold mt-5 me-5">Pique pique <br>pique ! <br>
              <p class="fs-4 mt-3">Tout seul ou en équipe, y'à toujours du temps de libre pour tirer ses flèches !</p></h3>
            <img class="rounded-circle mt-5" src="images/darts.jpg" alt="fléchettes" width="45%" height="45%"/>
          </div>
          <div id="bandeau6" class="d-flex ms-5 me-0 align-items-center">
            <img class="rounded-circle mt-5" src="images/café.jpg" alt="café" width="45%" height="45%"/>
            <h3 class="display-3 fw-bold mt-5 ms-5">Hmmm hmmmm hmm ! 
              <p class="fs-4 mt-3">la bonne odeur du café bien chaud, y'à pas mieux comme pause comme dirait "Georges Clooney" !</p></h3>
          </div>
          <div id="bandeau7" class="d-flex ms-0 me-5 align-items-center">            
            <h3 class="display-3 fw-bold mt-5 me-5">Les fruits : c'est la vie et la santé aussi ! 
              <p class="fs-4 mt-3">Faîtes le plein de vitamines ! Dégustez à volonté des fruits bien mûrs et de saison !</p></h3>
            <img class="rounded-circle mt-5" src="images/fruits.jpg" alt="fruits" width="45%" height="45%"/>
          </div>
          <div id="bandeau8" class="d-flex ms-5 me-0 align-items-center">
            <img class="rounded-circle mt-5" src="images/bureau.jpg" alt="bureau" width="40%" height="40%"/>
            <h3 class="display-3 fw-bold mt-5 ms-5">Nos équipes d'experts en nettoyage ! 
              <p class="fs-4 mt-3">Vous garantissent un espace toujours bien propre et agréable en toutes circonstances ! 
                Nous mettons un point d'honneur à respecter toutes les mesures d'hygiène !</p></h3>
          </div>
        </div>

{% endblock %}
